<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style.admin.css">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <nav class="sidebar">
            <label for="navigation-list" class="sidebar-list-label">Main</label>
            <ul id="navigation-list">
                <li class="navigation-item"><a href="">Home</a></li>
                <li class="navigation-item"><a href="">Pages</a></li>
                <li class="navigation-item"><a href="">Settings</a></li>
            </ul>
        </nav>
    
        <div class="settings">
            <nav class="settings-path">
                <!-- Path to setting -->
                <a href="#">Home</a> / <a href="#">General</a>
            </nav>
            <div class="dashboard-container">
                <span class="dashboard-name">Hello</span>
                <main class="dashboard">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corrupti ea officiis alias ducimus suscipit. Labore quisquam inventore ratione, explicabo ad recusandae magni vero accusantium alias. Nostrum provident deleniti ipsum voluptas?
                </main>
            </div>
        </div>
    </div>
</body>
</html>